<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en-us" />
	<title>{% block title%}!!!Change the title!!!{% endblock%} | Timetracker</title>
	{% block head %}{% endblock %}
</head>
<body>
<div id="wrapper">
	<div id="header">{% block header %}{% endblock %}</div>
	{% if flash %}<div id="flash_message" class="{% if flash.1 %}{{flash.1}}{% else %}info{% endif %}">{{flash.0}}</div>{% endif %}
	<div id="main" class="clearfix">
		<div id="main-content">
			{% block content %}{% endblock %}
		</div>
	</div>
</div>
{% block scripts %}{% endblock %}
</body>
</html>
